// Colores
$primary-color: #0d6efd;
$secondary-color: #6c757d;
$light-color: #ffffff;
$dark-color: #000000;
$gradient-bg: radial-gradient(#b0d1ff, #ffffff);

// Tipografías
$font-base: 'Roboto', sans-serif;
$font-heading: 'Poppins', sans-serif;

// Sombras
$card-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);